@media (max-width: 768px) {
  #search {
    width: 100% !important;
  }
  .table {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  .table {
    font-size: 0.8rem;
  }
}